#quantityInput1 {
    width: 50px; 
    text-align: center;
}

#quantityInput2 {
    width: 50px; 
    text-align: center;
}

#quantityInput3 {
    width: 50px; 
    text-align: center;
}

#quantityInput4 {
    width: 50px; 
    text-align: center;
}

#quantityInput5 {
    width: 50px; 
    text-align: center;
}

#quantityInput6 {
    width: 50px; 
    text-align: center;
}

#quantityInput7 {
    width: 50px; 
    text-align: center;
}

#quantityInput8 {
    width: 50px; 
    text-align: center;
}
